.conta {
    position: relative;
    width: 90vw;
    height: 70vh;
    padding: 1rem auto;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    .log {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        left: 50%;
        right: auto;
        margin: auto;

        .logsvg {
            width: 9rem;
            height: 9rem;
            margin: 0 2rem;
            cursor: pointer;
            transition: 600ms ease-in-out;
        }

        .logsvg:hover {
            width: 9.5rem;
            height: 9.5rem;
        }
    }

    .expand {
        margin: 2rem;
    }

    .expand:hover > #c4{
        width: 70%;
        height: 50%;
    }

    #c4 {
        position: absolute;
        width: 65%;
        height: 40%;
        z-index: -1;
        box-shadow: 10px 13px 12px 1px rgba(246, 134, 6, 0.3);
        transition: 1.5s;
    }

}