<div class="Title">
  <p>Anthuan García</p>

  <div class="lks">
    <p>
      <a
      class="egOne"
      routerLink=""
      (click)="selected(1)"
      [ngStyle]="{ 'text-decoration': sele[0] ? 'underline' : 'none' }">
        Perfil
      </a>
    </p>
    <p>
      <a
      class="egOne"
      routerLink="exp"
      (click)="selected(2)"
      [ngStyle]="{ 'text-decoration': sele[1] ? 'underline' : 'none' }">
        Experiencia
      </a>
    </p>
    <p>
      <a
      class="egOne"
      routerLink="projects"
      (click)="selected(3)"
      [ngStyle]="{ 'text-decoration': sele[2] ? 'underline' : 'none' }">
      Proyectos </a>
    </p>
    <p>
      <a
      class="egOne"
      routerLink="contact"
      (click)="selected(4)"
      [ngStyle]="{ 'text-decoration': sele[3] ? 'underline' : 'none' }">
      Enlaces
      </a>
    </p>
  </div>

</div>

<div [@triggerName]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>