.conte {
    width: 100vw;
    height: 80vh;
    margin: 1rem auto;

    @media screen and (max-width: 768px) {
        .conte {
            width: 90vw;
            margin: 0;
        }
    } 

    .desc {
        width: 100vh;
        z-index: 100;
        top: 15%;
        left: 12%;
        position: absolute;

        @media screen and (max-width: 768px) {
            .desc {
                text-align: left;
                width: fit-content;
                top: 15%;
                left: 6%;
                position: absolute;
            }
        }

        .tit {
            font-size: 3vw;
            margin-bottom: 6rem;
        }
        
        @media screen and (max-width: 768px) {
            .tit {
                width: fit-content;
                margin: 0;
                font-size: 9vw;
                margin-bottom: 2rem;
            }
        } 

        .details {
            width: fit-content;
            font-size: 1.5vw;
        }

        @media screen and (max-width: 768px) {
            .details {
                width: 70vw;
                margin-right: 0;
                margin-left: 0;
                font-size: 4vw;
            }
        } 
    }

    #c {
        position: relative;
        width: 50vw;
        height: 40vh;
        margin-right: 0;
        margin-left: 40%;
        z-index: 10;
        box-shadow: 10px 13px 12px 1px rgba(255, 15, 142, 0.25);
        transition: 1.4s;
    }

    @media screen and (max-width: 768px) {
        #c {
            width: 30vw;
            height: 90vh;
            margin-left: 55%;

        }
    } 

}