<div class="desc">
    <div class="tit">Perfil</div>

    <div class="details">
        <p>Soy un estudiante de ingeniería en sistemas con <br>
        conocimientos en desarrollo multiplataforma, <br>
        principalmente con Angular y Flutter.</p>
        
        <p>También tengo nociones para la creación y <br>
        mantenimiento de servicios web, principalmente <br>
        servicios basados en REST.</p>

        <p>Me gusta el diseño grafico, no demasiado para <br>
        dedicarme a el, pero lo suficiente para <br>
        considerarme entusiasta.</p>

    </div>
</div>
<canvas id="c" [ngStyle]="{'width': 30 + num+'rem', 'height': 32 - num+'rem'}"></canvas>
