.desc {
    width: fit-content;
    z-index: 100;
    top: 15%;
    right: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: transparent;

    .tit {
        font-size: 36px;
        text-align: right;
        margin-bottom: 6rem;
    }

    .details {
        font-size: 20px;
    }
}

#c2 {
    width: 35vw;
    height: 78vh;
    margin: 0 8%;
    box-shadow: 7px 10px 10px 1px rgba(108, 51, 255, 0.3);
    transition: 1.4s;
}

#c2:hover {
    width: 36vw;
    height: 79vh;
}