<div class="desc">
    <div class="tit">
        Experiencia
    </div>

    <div class="details">
        <p>Dentro de mi etapa de estudios en la <br>
        universidad trabaje en dos proyectos, en ambos <br>
        proyectos tuve roles activos en el diseño, no <br>
        solo en el aspecto grafico, si no también en un <br>
        aspecto más técnico, más concretamente en el <br>
        diseño e implementación de API’s web para el <br>
        consumo de aplicaciones.</p>
        
        <p>En ambos proyectos me encargue de gran parte <br>
        del servidor, y en cierta medida en las GUI.</p>
    </div>
</div>
<canvas id="c2" [ngStyle]="{'width': wid + num+'vw', 'height': hei + num+'vh'}"></canvas>
